body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
.header {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.header h1 {
    font-size: 48px;
    margin-bottom: 40px;
    margin-top: 12%;
}
  
  .page-title {
    font-size: 24px;
    margin-top: 40px;
  }
  
  .collection-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .collection-block {
    width: calc(33.33% - 10px);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .actions-container {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4892b1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 7px;
  }


  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4892b1;
    color: white;
    padding: 45px 20px;
    border-radius: 50%;
    text-decoration: none;
    opacity: 50%;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .back-to-top.show {
    opacity: 1;
    visibility: visible;
  }
  
    .back-to-top:hover {
        background-color: #1f627f;
        opacity: 100%;
    }